.bf-bg-color {
    background-color: #ffae00;
    transition: 0.3s ease-out;
}

.bf-bg-color:hover {
    background-color: #d18f00;
    transition: 0.3s ease-out;
}

.bf-text-color {
    color: #ffae00;
    transition: 0.3s ease-out;
}

.bf-text-color:hover {
    color: #d18f00;
    transition: 0.3s ease-out;
}

.bg-pattern{
    background-image: linear-gradient(to bottom, #ffae00, #ffd900);
}

.bg-pattern-overlay {
    background-image: url("./Assets/Background Pattern.png");
    background-repeat: repeat;
}